
.mat-raised-button{
    
    width: fit-content;
    align-self: center;
    align-items: center;
    text-align: center;
    align-content: center;
    -moz-box-align: center;
    justify-content: center;
    margin: 10px 50px;
}
.example-card {
    margin-top: 5%;
    margin-bottom: 3%;
    max-width: 400px;
  }
  .profile-card{
      width: 100%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-avatar{
    height: 180px;
    width: 180px;
    margin: auto;
}
mat-card{
    justify-content: center;
    justify-items: center;
}
mat-card-header{
    align-content: center;
    text-align: center;
}
.skills{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
.contact{
    list-style: none;
    padding: 0%;
}
#edit-skills-button{
    align-items: stretch;
}