<div fxLayout="row" fxLayoutAlign="center" >
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Add new skill</mat-label>
        <input matInput #newSkill>
      </mat-form-field>
    <div class="col-2">
        <button mat-raised-button color="primary" (click)="addSkill(newSkill.value)">Add</button>
    </div>
    <div class="col-2">
    <button mat-raised-button  >Clear</button>
    </div>
</div>
<table *ngIf="!isEmpty">
    <caption>Skills</caption>
    <tr *ngFor="let skill of skillsList">
        <td>{{skill.skillName}}</td>
        <td> <button mat-icon-button (click)="onDeletingSkill(skill.id)"><mat-icon>delete</mat-icon></button></td>
    </tr>
</table>