
<footer fxLayoutAlign.lt-md="center">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly">
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h2 fxFlexAlign="center"><strong>Good Labour</strong></h2>
            <div fxFlexAlign="center">
                <h3>2010-2020 &copy;</h3>
                <a href="">Privacy-Terms</a>
            </div>
            <div></div>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h3 fxFlexAlign="center"><strong>Product</strong></h3>
            <div fxFlexAlign="center">
                <a href="">Product</a><br>
                <a href="">Product</a><br>
                <a href="">Product</a><br>
                <a href="">Product</a><br>
            </div>
            <div></div>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h3 fxFlexAlign="center"><strong>Resources</strong></h3>
            <div fxFlexAlign="center">
                <a href="">Resources</a><br>
                <a href="">Resources</a><br>
                <a href="">Resources</a><br>
                <a href="">Resources</a><br>
            </div>
            <div></div>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h3 fxFlexAlign="center"><strong>Features</strong></h3>
            <div fxFlexAlign="center">
                <a href="">Features</a><br>
                <a href="">Features</a><br>
                <a href="">Features</a><br>
                <a href="">Features</a><br>
            </div>
            <div></div>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h3 fxFlexAlign="center"><strong>Follow us on</strong></h3>
            <div fxFlexAlign="center">
                <a href="">Linkedin</a><br>
                <a href="">Facebook</a><br>
                <a href="">Twitter</a><br>
                <a href="">Instagram</a><br>
            </div>
            <div></div>
            
        </div>
    </div>
</footer>
