<!-- navbar -->

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between">
  
  <div fxShow fxHide.gt-sm fxLayout="row" fxLayouALign="center"><mat-button-toggle #open><mat-icon>list</mat-icon></mat-button-toggle></div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px" fxHide.lt-md>
    <div fxFlexAlign="center">Home</div> 
    <div fxFlexAlign="center">About Us</div> 
    <div fxFlexAlign="center">Service</div> 
    <div fxFlexAlign="center">Faq</div>    
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
      <button mat-button [routerLink]="['/']">Good Labour</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <button mat-button [routerLink]="['/login']">LOGIN</button>
    </div>
  
</mat-toolbar>
<div *ngIf ="open.checked">
  <mat-toolbar color="primary" fxlayout="column">
    <div fxFlexAlign="start">Home</div>
  </mat-toolbar>
  <mat-toolbar color="primary" fxlayout="column">
    <div fxFlexAlign="start">About Us</div>
  </mat-toolbar>
  <mat-toolbar color="primary" fxlayout="column">
    <div fxFlexAlign="start">Service</div>
  </mat-toolbar>
  <mat-toolbar color="primary" fxlayout="column">
    <div fxFlexAlign="start">Faq</div>
  </mat-toolbar>
</div>

