<footer class = "footer">
    <div class="ftrcomp" fxLayout="row" fxLayout.lt-sm="column">
    <div fxLayoutGap="30vh" fxLayoutAlign.lt-sm="center">
        <div class="spacesmall">
            <h2><strong>Good Labour</strong></h2>
            <h3>2010-2020 &copy;</h3>
            <a>Privacy-Terms</a>
        </div>
    </div>
    <div fxLayoutAlign.lt-sm="center" fxLayoutGap="30rem" class="spacesmall">
        <div>
            <h3><strong>Product</strong></h3>
            <a href="">Product</a><br>
            <a href="">Product</a><br>
            <a href="">Product</a><br>
            <a href="">Product</a><br>

        </div>
    </div>
    <div fxLayoutAlign.lt-sm="center" class="spacesmall">
        <div>
            <h3><strong>Resources</strong></h3>
            <a href="">Resources</a><br>
            <a href="">Resources</a><br>
            <a href="">Resources</a><br>
            <a href="">Resources</a><br>

        </div>
    </div>
    <div fxLayoutAlign.lt-sm="center" class="spacesmall">
        <div>
            <h3><strong>Features</strong></h3>
            <a href="">Features</a><br>
            <a href="">Features</a><br>
            <a href="">Features</a><br>
            <a href="">Features</a><br>

        </div>
    </div>
    <div fxLayoutAlign.lt-sm="center"  class="spacesmall">
        <div>
            <h3><strong>Follow us on</strong></h3>
            <a href="">Linkedin</a><br>
            <a href="">Facebook</a><br>
            <a href="">Twitter</a><br>
            <a href="">Instagram</a><br>

        </div>
    </div>
    </div>
</footer>
